.container{
    display: flex;
    flex-direction: column;
    align-items: center
}
.heading{
    text-align: center;
    font-size: 30px
}

.inputs{
    display: flex;
    flex-direction: column;
width: 300px
}